*, *::before, *::after {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    padding: 0;
}


img {
    width: 24px;
    height: 24px;
}

.channel-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.logo {
    width: 90px;
    height: 20px;
}

.thumbnail-image {
    width: 296px;
    height: 163px;
    object-fit: cover;
}


.header {
  
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-bar {
    display: flex;
    justify-content: center;
   
    flex-grow: 1;
    margin: 0 7px 0 8px;
   
}

.search-input {
    width: 95%;
    padding: 10px;
    border-right: none;
    border:1px solid #777;
}


.search-btn {
  border: 1px solid #777;
    padding: 0 18px;
    border-left: none;
    cursor: pointer;
  
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: .5rem;
}


.categories {

    padding: 1rem 2rem;

}

.category-section {
   
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}

.category {
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: 25px;
    border: 1px groove #999;
    cursor: pointer;
    transition: background .7s cubic-bezier(.13,1.45,.85,.63);
}

.category:hover {
    background: #ddd;
}


.category.active {
    background: #606060;
    color: #fff;
}

.videos {
    padding: 0 70px;
}
.video-section {
   
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    padding: 3rem 0;
}

.video-container {
    display: flex;
    flex-direction: column;
    /* box-shadow: 3px 3px 18px rgba(0,0,0,.4); */
}

.thumbnail {
    position: relative;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    right: 20px;
    bottom: 5px;
    background: rgba(0,0,0, .85);
    color: #fff;
    border-radius: .3rem;
    padding: .1rem .3rem;
}

.video-bottom-section {
    background: #dedede;
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.video-bottom-data {
    display: flex;
    flex-direction: column;
}